.NavbarItems{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    box-shadow: 5px 15px rgba(0,0, 0, 25);
    width: 95%;
    height: 80px;
    border-radius: 13px;
    background-color: white;

}

.Navbar-logo{
    color: #222;
    font-size: 2rem;
    cursor: pointer;
}

.nav-menu{
    display: grid;
    grid-template-columns: repeat(6,auto);
    grid-gap: 10px;
    list-style: none;
    align-items: center;
}
.nav-links{
    text-decoration: none;
    color: #333;
    font-size: 1.2rem;
    font-weight: 600;
    padding: 0.6rem 1rem;
    white-space: "nowrap";
}
.nav-links i{
    padding-right: 10px;

}
.nav-links:hover{
    background-color: cadetblue;
    color: black;
    border-radius: 4%;
    transition: all 0,.2s ease-in-out;
}
.nav-links-mobile{
    display: none;
}
button{
    padding :0.5rem 1 rem;
    white-space: nowrap;
    border-radius: 0.3rem;
    font-size: 1 rem;
    font-weight: 600;
    border: 2px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}
button.hover{
    background-color: cadetblue;
    color:black;
    border-radius: 4%;
    transition:all 0,.2s ease-in-out;
}
@media screen and (max-width:850px){
    .nav-menu{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        background-color: azure;
        color: black;
        width: 100%;
        height: auto;
        position: absolute;
        top:0;
        left: 0;
        opacity: 1;
        align-items: stretch;
        padding: 80px 0 30px 0;
        margin: 0;
    }
    .nav-links{
        display: block;
        width: 80%;
        font-size: 1.2 rem;
        padding: 2rem 0;
    }
}